.wrapContent {
  padding: 50px 0;
}

.galleryPage {
  background: #f7f7f7;
}

.lTags {
  text-align: center;
  font-size: 12px;
  font-family: "Crimson Text", serif;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.lTags a {
  color: #333;
}

.lTags a:hover {
  color: #628d7c;
}
